@import 'nib'
@import 'colors'

body
  color BASE01
  background BASE06

army-side(color)
  color color
  .grid-form
    fieldset legend
      color color
      border-bottom-color color
    [data-row-span]
      border-bottom-color color
      [data-field-span]
        border-right-color color
        label:first-child
          color color

.attackers
  army-side(ATTACKERS)

.defenders
  army-side(DEFENDERS)

.comp
  background BASE0A
  padding 1em

.grid-form
  fieldset legend
    text-transform capitalize
    margin-bottom 0
  [data-row-span] [data-field-span]:hover
    background BASE07
  select, input, button
    height auto
  select
    background transparent
    border none
  button
    border-radius 0
    line-height 1.5
    background BASE07
    padding 0 3px
    margin-bottom 0
  abbr
    cursor help
  input[type=number].pip
    font-size 9px
