mixin css(href)
  link(href=href, rel='stylesheet', type='text/css')

mixin js(src)
  script(src=src, type='text/javascript')

doctype html
html
  head
    title EU4 Combat Simulator
    +css('http://fonts.googleapis.com/css?family=Raleway:400,300,600')
    +css('//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css')
    +css('//cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.1.0/metricsgraphics.css')
    +css('skeleton.css')
    +css('gridforms.css')
    +css('index.css')
  body
    #main.container
    +js('//cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.1.0/metricsgraphics.min.js')
    +js('bundle.js')
